@import url(reset.css);

@font-face {
    font-family: vazirNormal;
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff'), url('../fonts/vazir.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: vazirBold;
    src: url('../fonts/vazir-bold.eot');
    src: url('../fonts/vazir-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/vazir-bold.woff2') format('woff2'), url('../fonts/vazir-bold.woff') format('woff'), url('../fonts/vazir-bold.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: vazirNormal;
    direction: rtl;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
/* header */
 #header{
  background-color: rgba(253, 214, 102, 1);
  height: 600px;
 }
 #header #header-section{
    display: flex;
 }
 #header #header-section .text{
    align-self: center;

 }
 #header #header-section .images img{
    width: 450px;
    position: relative;
    top: 20px;
 }
 #header #header-section .title{
    font-family: vazirNormal;
    line-height: 40px;
    font-size: 30px;

 }
 #header #header-section p.text{
    line-height: 23px;
    padding: 15px 0 15px 15px;
    color: #3b3b3b;
    text-align: justify;
 }
 #header .btn{
    background-color: rgba(255, 114, 39, 1);
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
 }
 
 /* product */
 #product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

 }
 #product #product-item {
    flex-basis: 280px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin-top: 20px;

 }
 #product #product-item  .product-images img{
    width: 100%;
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
 } 
 #product #product-item .product-title{
    font-size: 15px;
    font-family:vazirBold;
    padding: 10px;
    height: 50px;
    line-height: 25px;
 }
 #product #product-item .product-instoct{
    color: red;
    padding: 10px;
    font-size: 13px;

 }
 #product #product-item .product-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border: 2px solid #e0e0e0;
    font-size: 15px;
 }
 #product #product-item .product-date .add-to-cart svg:hover{
    cursor: pointer;

 }
   /* cart  */
   #cart{
      width: 320px;
      height: 400px;
      background-color: #8d8d88;
      border-radius: 5px;
      position: fixed;
      left: 20px;
      bottom: -365px;
   }
   #cart .cart-header{
      background-color: #388e3c;
      padding: 10px 0;
      font-size: 18px;
      text-align: center;
      color: #fff;
      border-radius: 5px 5px 0 0;
   }
   #cart .cart-header:hover{
      cursor: pointer;
   }
   #cart .cart-items{
      height: 300px;
      overflow: auto;

   }
   #cart .cart-item {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-size: 14px;

   }
   #cart .cart-item  .p-name:hover{
      background-color: #f16060;
      cursor: pointer;
   }
   #cart .cart-item .pluss{
      background-color: green;
      width: 12px;
      display: inline-block;
      height: 12px;
   }
   #cart .cart-item .minus{
      background-color: red;
      width: 12px;
      display: inline-block;
      height: 12px;
   }

   #cart .total{
      padding-top: 20px;
      text-align: center;
      font-size: 15px;
   }
   #cart .cart-item .p-unit svg{
      font-size: 10px;

   }
   #cart .cart-item .p-unit svg:hover{
      cursor: pointer;
      
   }

 /* footer */
  #footer{
    padding: 20px;
    background-color: #3b3b3b;
    color: #fff;
    text-align: center;
    margin-top: 30px;
  }
 
